.code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.code-content {
  width: 50%;
  /* padding: 20rem; */
  border-color: #4481eb;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.5rem;
}

h3 {
  color: #4481eb;
  font-weight: 900;
}
